
.first {
   margin-top: 25px;
   margin-right: 40px;
   display: grid;
   border: 5px solid black;
   border-radius: 5px;
   height: 575px;
   width: 575px;
}

.class {
   height: 25.5px;
   width: 68.65px; 
}

